@font-face {
    font-family: "Nunito";
    src: url(fontes/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Staatliches";
    src: url(fontes/Staatliches-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(fontes/static/Inter-Regular.ttf);
}

:root {
    --branco-Reform: #f5f5f5;
    --laranja-Reform: #EB6534;
    --azul-Reform: #9EB4C1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    max-width: 1400px;
    width: 80vw;
    margin: 0px auto;
}

.banner {
    height: 100vh;
    background-position: 165% 40%;
}

header {
    height: 120px;
}

header div.container-grid {
    /* Porcentagenm - Unidade relativa ao elemento pai */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header svg.Logo {
    height: 120px;
    width: 288px;
}

header button {
    width: 40px;
    height: 30px;
    background: none;
    border: none;
}

.Logo-e-opções {
    height: 120px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo-e-opções img {
    height: 70px;
}

.menu {
    height: 120px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #000;
    font-family: "Nunito";
    font-size: 24px;
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: var(--laranja-Reform);
    color: #EB6534;
}

.conteudo-banner {
    width: 100vw;
    background-image: url(img/Group\ 37.png);
    display: flex;
    align-items: center;
}

#sobre {
    height: 320px;
}

#sobre h2 {
    font-family: "Staatliches";
    margin-bottom: 60px;
}

.text1 {
    background-color: #EEB07E;
    border-radius: 10px;
}

.text2 {
    background-color: #EEB07E;
    border-radius: 10px;
}

#sobre p {
    font-family: "Inter";
}

#gamificacao {
    height: 475px;
}

#gamificacao h2 {
    font-family: "Staatliches";
}


#gamificacao p {
    font-family: "Inter";
    background-color: #f5f5f5;
    border-radius: 10px;
}

#gamificacao button {
    display: none;
}

.conteudo {
    background-color: #5e5d5d;
}

#cases h2 {
    font-size: 22px;
    font-family: "Nunito";
    display: flex;
    justify-content: center;
    color: var(--branco-Reform);
    margin-top: 45px;
    margin-bottom: 30px;
}

.case h3 {
    font-size: 18px;
    font-family: "Staaliches";
    display: flex;
    justify-content: center;
    color: var(--branco-Reform);
    margin-bottom: 15px;

}

.container-cards {
    height: 680px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card {
    height: 480px;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    background-color: var(--azul-Reform);
}

.card p {
    
    color: #01263D;
    font-family: "Inter";
    font-size: 16px;
    padding: 15px 25px 0px  25px;
}

.card button {
    width: 90%;
    height: 40px;
    background-color: var(--laranja-Reform);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.card button:hover {
    background-color: #ad4929;
}

#contato {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#contato h2 {
    margin-bottom: 70px;
}

#contato form {
    width: 50%;
    margin: 0 auto;
}